@font-face {
    font-family: "Norse";
    src: url(Norse-Bold.otf) format("opentype"); 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#f0f0f0;
    font-family: "Norse", sans-serif;
    margin: 0;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 24px;
    margin-bottom: 20px;
}

#player-info {
    margin-bottom: 10px;
    text-align: center;
}

#player-info label {
    font-size: 1rem;
    margin-right: 10px;
}

#player-info input {
    padding: 5px;
    font-size: 1rem;
    margin-right: 15px;
    border: 2px solid #ccc;
    width: 150px;
    border-radius: 9px;
}

.start-btn {
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    margin: 10px;
}

.start-btn:hover {
    background-color: #218838;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    background-color: rgba(208, 144, 36, 0.5);
    background-image: url(natural-wooden-background.png);
    padding: 20px;
    border-radius: 15px;
    box-shadow: inset 0 0 10px #2c2419, 0 0 20px rgba(0, 0, 0, 0.8);
    max-width: 325px;
    margin-top: 20px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c06b0e;
    font-size: 4rem;
    color: #7c190a;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #2c2419;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.cell:hover {
    background-color: #e0bb2a;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.3);
}

.cell.taken {
    color: #471e1e;
}

#message, #game-results {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5rem;
    color: #1e2223;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    min-width: 100vw;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-container p {
    margin: 0;
    font-size: 14px;
}

.footer-container a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer-container a:hover {
    color: #b40c0c;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #b40c0c;
}